#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32) ;
  filter: alpha(opacity=32) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}