#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00617B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #00617B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #00617B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #00617B;
  border-radius: 61px 61px 61px 61px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_1-options {
  background-color: transparent;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_2-options {
  background-color: transparent;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 212px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 210px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 202px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 204px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}