#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_6 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 {
  position: absolute;
  top: 202px;
  left: 202px;
  width: 770px;
  height: 268px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00617B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #00617B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #00617B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #00617B;
  border-radius: 61px 61px 61px 61px;
  opacity: 0.32;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 7px -3px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 {
  position: absolute;
  top: 169px;
  left: 518px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 {
  position: absolute;
  top: 202px;
  left: 129px;
  width: 788px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 {
  position: absolute;
  top: 311px;
  left: 141px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_1 {
  position: absolute;
  top: 352px;
  left: 330px;
  width: 158px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_1 .valign {
  width: 140px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 {
  position: absolute;
  top: 354px;
  left: 237px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 {
  position: absolute;
  top: 354px;
  left: 512px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_2 {
  position: absolute;
  top: 352px;
  left: 611px;
  width: 168px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Category_2 .valign {
  width: 150px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 {
  position: absolute;
  top: 437px;
  left: 273px;
  width: 500px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_2 {
  position: absolute;
  top: 510px;
  left: 21px;
  width: 228px;
  height: 159px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CADCEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CADCEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CADCEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CADCEA;
  border-radius: 23px 23px 23px 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 {
  position: absolute;
  top: 689px;
  left: 22px;
  width: 212px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 7px 7px 11px -4px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_3 {
  position: absolute;
  top: 509px;
  left: 279px;
  width: 228px;
  height: 159px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CADCEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CADCEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CADCEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CADCEA;
  border-radius: 23px 23px 23px 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 {
  position: absolute;
  top: 688px;
  left: 278px;
  width: 210px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 7px 7px 11px -4px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_4 {
  position: absolute;
  top: 509px;
  left: 536px;
  width: 218px;
  height: 159px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CADCEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CADCEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CADCEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CADCEA;
  border-radius: 23px 23px 23px 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 {
  position: absolute;
  top: 688px;
  left: 536px;
  width: 202px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 7px 7px 11px -4px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Image_5 {
  position: absolute;
  top: 510px;
  left: 783px;
  width: 220px;
  height: 159px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CADCEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CADCEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CADCEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CADCEA;
  border-radius: 23px 23px 23px 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 {
  position: absolute;
  top: 689px;
  left: 782px;
  width: 204px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D0E0ED;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D0E0ED;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0E0ED;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D0E0ED;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 7px 7px 11px -4px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0003bf52-0463-4f63-b748-bdb6b34cccd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}