#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 106px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Label_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}