#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1bfa4735-856f-4325-9a40-84bdd206493f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}