#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}