#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53c922b9-1bb8-49a0-bafc-ba21f0ad4ddf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}