#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-851d59c6-c9b4-46fb-bb22-fa59f23be0a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}