#s-8d54242f-ba3b-4e21-a63f-442847892837 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Image_6 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 1018px;
  height: 98px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 {
  position: absolute;
  top: 34px;
  left: 419px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 {
  position: absolute;
  top: 107px;
  left: 284px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 {
  position: absolute;
  top: 291px;
  left: 266px;
  width: 451px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 6px 2px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 {
  position: absolute;
  top: 412px;
  left: 266px;
  width: 451px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 6px 2px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 {
  position: absolute;
  top: 534px;
  left: 266px;
  width: 451px;
  height: 65px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 6px 2px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 {
  position: absolute;
  top: 167px;
  left: 266px;
  width: 451px;
  height: 65px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 7px 6px 2px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI Light,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI Light,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 {
  position: absolute;
  top: 654px;
  left: 834px;
  width: 106px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 7px 7px 5px 2px #404040;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Microsoft YaHei UI,Arial;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei UI,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}