#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 451px;
  height: 64px;
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 451px;
  height: 64px;
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 451px;
  height: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 451px;
  height: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 106px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}