#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8d54242f-ba3b-4e21-a63f-442847892837 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}